/* Custom definition */

body, table, div, p, dl {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 15px; /* 16px; /* 10pt; */
	line-height: 1.5; /* 1.6; /* 17pt; */
}

#titlearea {
	padding-top: 10px;
	padding-bottom: 5px;
}

td#projectalign {
	padding-left: 1em;
}

#projectname {
	font-size: 36px;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 2px 0px;
}

#projectbrief {
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	margin: 0px;
	padding: 0px;
	padding-bottom: 3px;
}

#projectmotto {
	font-size: 100%;
	font-family: Georgia, Times New Roman, serif;
	font-style: italic;
	margin: 0px;
	padding-top: 8px;
	padding-right: 15px;
	position:absolute;
 	top:0;
 	right:0;
}

/* for the template params */
td.paramname {
	color: black; /* #602020; */
	font-weight: bold;
	white-space: nowrap;
}

dl {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/* For the grouping headers */
div.groupHeader {
	font-size: 110%;
	margin-left: 0px;
}

div.fragment {
	font-size: 80%; /* 13px; */
	margin-left: 0px;
	margin-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 6px;
}

pre.fragment {
	font-size: 80%; /* 13px; */
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-top: 6px;
}

h2.groupheader {
	font-weight: bold;
	font-size: 150%; /* 1.75em; */
	line-height: 1.225;
	color: black;
}

.contents a:visited {
	color: #4078c0;
}

a {
	color: #4078c0;
}

.title {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-weight: bold;
	font-size: 150%; /* 1.75em; */
	line-height: 1.225;
}

#nav-tree .label {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 85%; /* 14px; */
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
code:before, code:after {
	letter-spacing: -0.2em;
	content: "\00a0"
}

.params .paramname, .retval .paramname {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	vertical-align: top;
	padding-right: 1em;
}

.params .paramdir {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	vertical-align: top;
}

div.line {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px; /* <- absolute */
	line-height: 1.2;
}

div.tabs {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 90%; /* 14px; */
}

div.tabs2, div.tabs3 {
	display: none;
}

.navpath li.navelem a {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 90%; /* 14px; */
}

table.directory {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 90%; /* 14px; */
	line-height: 1.2;
}

.directory td.desc {
	padding-bottom: 3px;
}

.mdescRight, .mdescLeft, .memtemplate, .memTemplParams {
	color: black;
}

a.el {
	/* font-weight: normal;	*/
}

table.memname td {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	line-height: 1.1;
}

.memname {
	/* font-weight: normal; */
}

td.memItemLeft, td.memItemRight, td.memname, td.fieldname, td.paramtype,
td.paramname, td.entry, td.memTemplItemLeft,
td.memTemplItemRight, div.textblock h3 {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 95%;
}

td.memTemplParams, div.memtemplate {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 85%;
}
